#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@ 

ovverride_dh_install:
	dh_install
	[ -f "$(CURDIR)/debian/linux-image-raspberrypi-cutdown/boot/kernel_cutdown.img" ] && mv $(CURDIR)/debian/linux-image-raspberrypi-cutdown/boot/kernel_cutdown.img $(CURDIR)/debian/linux-image-raspberrypi-cutdown/boot/kernel.img

override_dh_clean:
	dh_clean
	if [ -d "$(CURDIR)/debian/omxil-broadcom-doc" ]; then rm -rf $(CURDIR)/debian/omxil-broadcom-doc; fi
	if [ -f "$(CURDIR)/debian/omxil-broadcom-doc.debhelper.log" ]; then rm $(CURDIR)/debian/omxil-broadcom-doc.debhelper.log; fi
	if [ -f "$(CURDIR)/debian/omxil-broadcom-doc.substvars" ]; then rm $(CURDIR)/debian/omxil-broadcom-doc.substvars; fi
	if [ -f "$(CURDIR)/debian/files" ]; then rm $(CURDIR)/debian/files; fi
